@import 'colors.module.css';

* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", "Material Icons", monospace;
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#clock,
#pulseaudio, 
#cpu,
#memory,
#network,
#temperature,
#battery {
  padding: 0 7px;
}
